<h1><b>Hallo {{name}},</b></h1>
<br>
Ihr Antrag mit der Besarbeitungsnummer {{antragnummer}} vom {{date}} ist bei uns eingegangen und wird bearbeitet.
<br>
<br>
<br>
Mit freundlichen Gr&uuml;&szlig;en<br>
Ihr Antragsservice